@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-logo: "Montserrat Alternates", sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .logo-font {
    font-family: var(--font-logo);
    font-weight: 100;
  }

  .smooth-scroll {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}
